/* Langding Page Footer CSS */

footer {width: 100%; height: auto; background-color: rgb(245,245,247);}

.footer_wrap { width: 100%; max-width: 1000px; padding: 0 10px; margin: 0 auto; }

/* Footer Note */

.footer_note { padding:17px 0 20.6px; font-size: 12px; line-height: 16px; color:rgb(134,134,139); border-bottom: 1px solid rgb(210,210,219);}
.footer_note a { color: rgb(81,81,84);}
.footer_note a:hover { color: rgb(29,29,31); text-decoration: underline; }

/* Footer Navigation */

.footer_nav { display: flex; padding:20px 0 0 0;}
.footer_nav_wrap { width: 20%;}
.footer_nav_wrap ul { margin: 0 0 20px;}
.footer_nav_wrap ul li { font-size: 12px; line-height: 16px; margin: 0 0 9.6px;}
.footer_nav_wrap a { font-size: 12px; line-height: 16px; color:rgb(81,81,84);}
.footer_nav_wrap h4 { font-size: 12px; line-height:16px; color:rgb(29,29,31); font-weight: 600; margin: 0 0 9.6px;}
.footer_nav_wrap h4 span:nth-child(2) {
   display: none;
}

.footer_nav_wrap a:hover { color: rgb(29,29,31); text-decoration: underline; }

/* Footer Shop Info */

.footer_shop { font-size: 12px; line-height: 16px; color:rgb(134,134,139); padding: 20px 0 10px;  border-bottom: 1px solid rgb(210,210,219); }
.footer_shop a {color:rgb(0,102,204);}
.footer_shop a:hover {text-decoration: underline;}

/* Footer Legal Info */

.footer_legal { display: flex; justify-content: space-between; align-items: center; padding: 6px 0;}

.footer_copyright { font-size: 12px; line-height: 16px; color:rgb(134,134,139);}

.footer_legal_link {font-size: 12px; line-height: 16px; color:rgb(134,134,139); margin: 0 320px 0 0;}
.footer_legal_link a { font-size: 12px; line-height: 16px; color:rgb(81,81,84); }
.footer_legal_link a:hover { color: rgb(29,29,31); text-decoration: underline;}

.footer_local a { font-size: 12px; line-height: 16px; color:rgb(81,81,84); }
.footer_local a:hover { color: rgb(29,29,31); text-decoration: underline;}

/* Footer Address */

.footer_address { font-size: 11px; line-height: 14.6px; color:rgb(153,153,153); letter-spacing: 0; padding: 0 0 20px; }


@media screen and (max-width:1068px) {

   footer {padding: 0 12px;}


   .footer_legal_link { margin: 0;}
   
   
   }
   
   
@media screen and (max-width:767px) {


   .footer_nav_wrap li { display: none;}
   .footer_nav {
      display: block;
      /* display: flex;
      flex-direction: column; */
   }
   .footer_nav_wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   .footer_nav_wrap h4 span:nth-child(2) {
      display: block;
   }
   .footer_nav_wrap h4{
      font-size: 12px;
      color: rgb(29,29,31);
      font-weight: 400;
      line-height: 16.4px;
      margin: 0 0 0px;
      display: flex;
      justify-content: space-between;
      padding: 0 6px 0 0 ;
   }
   .footer_nav_wrap ul {
      border-bottom: 1px solid rgb(210,210,219);
      padding: 10px 0;
      margin: 0 0;
   }
   .footer_nav { 
      padding:0 0 0 0;
   }

   .footer_legal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-direction: column-reverse;
      padding: 5px 0;
   }
   .footer_copy {
      padding-top: 12px;
   }
   .footer_shop {
      border-bottom: 0px; 
   }
   .footer_legal_link {
      margin-top: 5px;
   }

}
