* {margin: 0; padding: 0; box-sizing: border-box;}

a { text-decoration:none; }

a:hover { text-decoration: none; }

div, ul, li { background-size: cover; background-repeat: no-repeat; background-position: center center; }

header { width: 100%; height: auto;}

div, ul, li {
   background-size: cover;
   background-repeat: no-repeat;
}

ol, ul ,li, dl {
   list-style:none;
   list-style-type:none;
}

button {
   border: 0;
   background: none;
   cursor: pointer;
}